body{
    background-color:#616161;
    padding:0px 12%;
    text-align:center;
    margin-top:0px;
}
h1{
    color:lightgreen;
    font-size: 8.5rem;
    font-family: 'Lobster', cursive;
    margin-top:1%;
}
.alt{
    font-size:3rem;
    display:inline-block;
    margin:0px 13%;
    font-family: 'Indie Flower', cursive;
}
.fish{
    float:left;
    padding-left:220px;
    padding-top:1%;
    
}

